# --- DOSSIERS SYSTÈME & GIT ---
.git/
.gitignore
.DS_Store
venv/
__pycache__/

# --- DONNÉES LOURDES ---
chroma_db/
# sources_pdf/  <-- J'AI ENLEVÉ CETTE LIGNE (ou mis un # devant) pour que les PDF soient envoyés !
*.sqlite3

# --- DOCUMENTATION & TEXTE ---
# On veut que les PDF partent cette fois !
# *.pdf
# *.txt
# *.md

# --- EXCEPTIONS ---
!requirements.txt
!*.png
!*.jpg
!*.webp