# --- SÉCURITÉ (CRUCIAL) ---
.env

# --- DOSSIERS SYSTÈME & GIT ---
.git/
.gitignore
.DS_Store
venv/
.venv/
__pycache__/

# --- DONNÉES ---
# On laisse l'app reconstruire la base au propre sur le Cloud
chroma_db/

# On ignore les PDF pour ne pas alourdir le serveur
sources_pdf/
*.pdf

# --- EXCEPTIONS ---
# On force l'envoi des .txt pour que l'IA ait ses sources 2026
!*.txt
!requirements.txt
!*.png
!*.jpg
!*.webp