# Ne pas envoyer la base de données (trop lourde pour GitHub)
chroma_db/
*.sqlite3

# Ne pas envoyer les sources (on ne veut que le code sur GitHub)
sources_pdf/
*.txt
*.pdf
!requirements.txt  <-- AJOUT CRUCIAL (Sinon Git oublie vos librairies)

# Système & Sécurité
.DS_Store
venv/
.env